language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

env:
  matrix:
    - NETCOMMONS_VERSION=master DB=mysql
  global:
    - secure: "I2KKZnZ9r4re4/E2oDVn3H3Jz0h3qxs3wGCBJtvzBi0b9rEncx/pyJ5znJAC+lA+OZSWJ8RrG4roCAwT2HryeFi6o3rckkggzsvqK4b7TCDwVCnqfHgGz5y+SZOq4fC2lAubwyxJKNaR8e3b7KqCPd6zp/CjcWEGu9zfW2h7PWU="
    - GIT_COMMITTER_NAME=s-nakajima
    - GIT_COMMITTER_EMAIL=nakajimashouhei@gmail.com
    - GIT_AUTHOR_NAME=s-nakajima
    - GIT_AUTHOR_EMAIL=nakajimashouhei@gmail.com

before_script:
  - export NETCOMMONS_BUILD_DIR=`dirname $TRAVIS_BUILD_DIR`/NetCommons3
  - git clone git://github.com/NetCommons3/NetCommons3 $NETCOMMONS_BUILD_DIR
  - cd $NETCOMMONS_BUILD_DIR
  - git checkout $NETCOMMONS_VERSION
  - travis_wait . tools/build/plugins/cakephp/travis/pre.sh
  - . tools/build/plugins/cakephp/travis/environment.sh

script:
  - . tools/build/plugins/cakephp/travis/main.sh

after_script:
  - . tools/build/plugins/cakephp/travis/post.sh

notifications:
  email:
    recipients:
      - netcommons3@googlegroups.com
    on_success: never  # default: change
    on_failure: always # default: always
